<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.wuye.mapper.admin.AdminMapper">
    <resultMap id="houseMap" type="com.management.wuye.bean.House">
        <id column="id" property="id" />
        <result column="hid" property="hid" />
        <result column="hname" property="hname" />
        <result column="hArea" property="hArea" />
        <result column="status" property="status" />
        <result column="userId" property="userId" />
        <result column="userName" property="userName" />
        <result column="telephone" property="telephone"/>
        <result column="email" property="email" />
    </resultMap>
    <resultMap id="User" type="com.management.wuye.bean.User">
        <id column="userId" property="userId" />
        <result column="loginName" property="loginName" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
        <result column="telephone" property="telephone" />
        <result column="email" property="email" />
        <result column="homeplace" property="homeplace" />
    </resultMap>
    <resultMap id="userMap" type="com.management.wuye.bean.User">
        <id column="userId" property="userId" />
        <result column="loginName" property="loginName" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
        <result column="telephone" property="telephone" />
        <result column="email" property="email" />
        <result column="homeplace" property="homeplace" />
        <result column="hid" property="hid" />
        <collection property="charge" ofType="com.management.wuye.bean.Charge" >
            <id column="id" property="id" />
            <result column="waterFee" property="waterFee" />
            <result column="electricityFee" property="electricityFee" />
            <result column="propertyCosts" property="propertyCosts" />
            <result column="userId" property="userId" />
            <result column="state" property="state" />
            <result column="subtime" property="date" />
        </collection>
    </resultMap>
    <select id="getBuilding" resultType="com.management.wuye.bean.Buildings">
        select * from p_buildings where userId=#{userId}
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from p_house
    </select>
    <delete id="deleteHouse">
	    delete from p_house where hid=#{hid}
	</delete>
    <insert id="addHouse" >
	    insert into
	    p_house(hid, hname, hArea, status)
	    values(#{house.hid}, #{house.hname}, #{house.hArea}, false)
	</insert>
    <update id="updateHouse" parameterType="com.management.wuye.bean.House">
        update p_house
        <set>
            <if test="house.hname!=null and house.hname!=''">
                hname=#{house.hname},
            </if>
            <if test="house.hArea!=null and house.hArea!=''">
                hArea=#{house.hArea},
            </if>
            <if test="house.status!=null and house.status!=''">
                status=#{house.status},
            </if>
            <if test="house.bid!=null and house.bid!=''">
                bid=#{house.bid},
            </if>
        </set>
        where hid=#{house.hid}
    </update>
    <update id="upateUser">
            update p_user
            <set>
                <if test="house.id!=null and house.id!=''">
                    houseid=#{house.id},
                </if>
                <if test="house.email!=null and house.email!=''">
                    email=#{house.email},
                </if>
                <if test="house.telephone!=null and house.telephone!=''">
                    telephone=#{house.telephone},
                </if>
            </set>
                where userId=#{house.userName}
    </update>
    <select id="getUsersWithHouses" resultType="java.lang.String">
        select u.userId from p_user u, p_house ph where u.houseid=ph.id
    </select>
    <select id="getUsersWithoutHouses" resultMap="User">
        select u.* from p_user u where u.limitid=3
        <if test="userIds.size() != 0">
            and u.userId not in
            <foreach collection="userIds" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
    </select>
    <delete id="dismissWithUser">
        delete from p_user where houseid=#{id}
    </delete>
    <select id="getHousePage" resultType="com.management.wuye.bean.House">
        select ph.*, pu.userName, pu.telephone, pu.email, pu.userId from p_house ph LEFT JOIN
        p_user pu on pu.houseid=ph.id where ph.bid=#{bid}
        <if test="houseInfo != null and houseInfo != ''">
            and concat(hid, hname) LIKE CONCAT ('%', #{houseInfo},'%')
        </if>
        limit #{page}, #{size}
    </select>
    <select id="getHouseCount" resultType="java.lang.Integer">
        select count(*) from p_house ph LEFT JOIN
        p_user pu on pu.houseid=ph.id where ph.bid=#{bid}
        <if test="houseInfo != null and houseInfo != ''">
            and concat(hid, hname) LIKE CONCAT ('%', #{houseInfo},'%')
        </if>
    </select>
    <insert id="submitInfomation" >
        insert into p_information(head, content, infotime, userId, type)
        value (#{head}, #{content}, #{infotime}, #{userId}, #{type})
    </insert>
    <select id="getAllInformations" resultType="com.management.wuye.bean.Information">
        select * from p_information
        <if test="info != null and info != ''">
            where concat(head, content, infotime, userId) LIKE CONCAT ('%', #{info},'%')
        </if>
    </select>
    <delete id="deleteInfo">
	    delete from p_information where id=#{id}
	</delete>
    <update id="updateInfo" parameterType="com.management.wuye.bean.Information">
        update p_information
        set head=#{item.head},
            content=#{item.content},
            infotime=#{item.infotime},
            userId=#{item.userId},
            type=#{item.value}
        where id=#{item.id}
    </update>

    <select id="getUserPage" resultType="com.management.wuye.bean.User">
        select u.* from p_user u LEFT JOIN
        p_house h on h.id=u.houseid where h.bid=#{bid}
        <if test="userInfo != null and userInfo != ''">
            and concat(userId, userName) LIKE CONCAT ('%', #{userInfo},'%')
        </if>
        limit #{page}, #{size}
    </select>
    <select id="getUserPageByDate" resultMap="userMap">
        select u.*, c.*, h.hid from p_user u LEFT JOIN
        p_house h on h.id=u.houseid left join p_charge c on u.userId=c.userId
        and DATE_FORMAT(subtime,'%Y%m')=#{accDate}
        where h.bid=#{bid}
        <if test="userInfo != null and userInfo != ''">
            and concat(u.userId, u.userName) LIKE CONCAT ('%', #{userInfo},'%')
        </if>
        limit #{page}, #{size}
    </select>
    <select id="getUsers" resultMap="userMap">
        select u.*, c.*, h.hid from p_user u LEFT JOIN
        p_house h on h.id=u.houseid left join p_charge c on u.userId=c.userId
        and DATE_FORMAT(subtime,'%Y%m')=#{accDate}
    </select>
    <select id="getUserPageByDate1" resultMap="userMap">
        select u.*, c.*, h.hid from p_user u LEFT JOIN
        p_house h on h.id=u.houseid left join p_charge c on u.userId=c.userId
        and DATE_FORMAT(subtime,'%Y%m')=#{accDate}
        where h.bid=#{bid}
    </select>
    <select id="getUserByDate" resultType="com.management.wuye.bean.Charge">
        select * from p_charge where userId=#{userId} and DATE_FORMAT(subtime,'%Y%m')=#{accDate}
    </select>
    <select id="getUserCount" resultType="java.lang.Integer">
        select COUNT(*) from p_user u LEFT JOIN
        p_house h on h.id=u.houseid where h.bid=#{bid}
        <if test="userInfo != null and userInfo != ''">
            and concat(userId, userName) LIKE CONCAT ('%', #{userInfo},'%')
        </if>
    </select>
    <select id="getRepairsPage" resultType="com.management.wuye.bean.Repair">
        select r.*,u.userId,u.userName,u.telephone,h.hname from p_repair r left join p_user u on u.userId=r.userid
        left join p_house h on u.houseid=h.id where h.bid=#{bid}
        <if test="repairInfo != null and repairInfo != ''">
            where concat(type, detail) LIKE CONCAT ('%', #{repairInfo},'%')
        </if>
    </select>
    <select id="getRepairCount" resultType="java.lang.Integer">
        select COUNT(*) from p_repair r left join p_user u  on u.userId=r.userid
        left join p_house h on u.houseid=h.id where bid=#{bid}
        <if test="repairInfo != null and repairInfo != ''">
            and concat(type, detail) LIKE CONCAT ('%', #{repairInfo},'%')
        </if>
    </select>
    <delete id="deleteRepair">
	    delete from p_repair where id=#{id}
	</delete>
    <update id="updateRepair" parameterType="com.management.wuye.bean.Repair">
        update p_repair
        set status=#{repair.status}
        where id=#{repair.id}

    </update>
    <insert id="insertRecording">
        insert into p_charge(waterFee, electricityFee, propertyCosts, userId, subtime)
        value (#{waterFee}, #{electricityFee}, #{propertyCosts}, #{userId}, #{date})
    </insert>
    <update id="updateRecording">
        update p_charge
        set waterFee=#{waterFee}, electricityFee=#{electricityFee}, propertyCosts=#{propertyCosts}
        where userId=#{userId} and DATE_FORMAT(subtime,'%Y%m')=#{accDate}
    </update>
    <update id="changeState">
        update p_charge set state=1 where userId=#{userId} and DATE_FORMAT(subtime,'%Y%m')=#{accDate}
    </update>
</mapper>